* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


header {
    height: 100px;
    display: flex;
}

header .container {
    margin: auto;
    padding: 0 10px;
    width: 480px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.iconoMenu {
    display: flex;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaMenu {
    display: none;

}

.button1 {
    display: none;
}

.container__padel {
    max-width: 85%;
    height: 750px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 50px;
    margin: 28.150px;
    padding-top: 2em;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    text-align: right;
    gap: 28px;
}

.text h1 {
    color: #232C50;
    text-align: right;
    font-family: Be Vietnam;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    /* 57.3px */
    letter-spacing: -1.75px;
}

.text button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background-color: #8B48BF;
    color: white;
    padding: 10px;
    gap: 10px;
}

.text2 {
    background-color: #3CDDF3;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px, 20px, 40px, 20px;
}

.text2 h3{
    text-align: left;
    font-family: Be Vietnam;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height:41.26px;
    padding: 20px;
    
}

.text2 p{
    padding: 20px;
}

.container__boxes{
    padding: 55px 0px 25px 25px;
}

.box1{
    padding:0;
}

.box1__1{
    display: flex;

}

.box2__1{
    display: flex;

}

.box3__1{
    display: flex;

}

.container__boxes button{
    width: 69px;
    height: 43px;
    border-radius: 30px;
    background-color: #8B48BF;
    color: white;
    padding: 10px, 25px, 10px, 25px;
    gap: 10px;
    font-weight: bold;
}

.container__boxes  h6{
    background-color: #8B48BF4D;
    width:480px;
    height: 43px;
    font-family:Be Vietnam;
    font-weight:700px;
    line-height:23px;
    text-align:left;
    font-size:0.9em;
}

.container__boxes p{
    padding: 25px 17px;
}






@media (min-width: 700px) {

    header{
        height: 174px;
        display: flex;
    }
    
    header .container{
        margin: auto;
        padding: 0 10px;
        width: 1440px;
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        gap:15px;
    }
    
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav ul{
        display: flex;
        gap:28px;
    }
    
    .container button{
        width: 134px;
        height: 44px;
        border-radius: 50px;
        background-color: #8B48BF;
        color: white;
        box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    }
    
    .container__padel{
        padding: 100px 0;
        width: 100vw;
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    
    .text h1{
        color: #232C50;
        text-align: right;
        font-family: Be Vietnam;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 114.6%; /* 57.3px */
        letter-spacing: -1.75px;
    }
    
    .text button{
        width: 134px;
        height: 44px;
        border-radius: 50px;
        background-color: #8B48BF;
        color: white;
    }

}