* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


header {
    height: 100px;
    display: flex;
}

header .container {
    margin: auto;
    padding: 0 10px;
    width: 480px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.iconoMenu {
    display: flex;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaMenu {
    display: none;

}

.button1 {
    display: none;
}

.container__padel {
    max-width: 85%;
    height: 750px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 50px;
    margin: 28.150px;
    padding-top: 2em;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    text-align: right;
    gap: 28px;
}

.text h1 {
    color: #232C50;
    text-align: right;
    font-family: Be Vietnam;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    /* 57.3px */
    letter-spacing: -1.75px;
}

.text button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background-color: #8B48BF;
    color: white;
    padding: 10px;
    gap: 10px;
}

.text2 {
    background-color: #3CDDF3;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px, 20px, 40px, 20px;
}

.text2 h3{
    text-align: left;
    font-family: Be Vietnam;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height:41.26px;
    padding: 20px;
    
}

.text2 p{
    padding: 20px;
}

.container__boxes{
    padding: 55px 0px 25px 25px;
}

.box1{
    padding:0;
}

.box1__1{
    display: flex;

}

.box2__1{
    display: flex;

}

.box3__1{
    display: flex;

}

.container__boxes div section button{
    width: 69px;
    height: 43px;
    border-radius: 30px;
    background-color: #8B48BF;
    color: white;
    padding: 10px, 25px, 10px, 25px;
    gap: 10px;
    font-weight: bold;
    position: absolute;

}

.container__boxes div section h6{
    background-color: #8B48BF4D;
    width:300px;
    height: 43px;
    font-family:Be Vietnam;
    font-weight:700px;
    line-height:23px;
    text-align:left;
    font-size:0.9em;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 30px;
    position: relative;
    left: 50px;
}

.container__boxes p{
    padding: 25px 17px;
    color: #B9B9C1;
}

.testimonios{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 5px;
    padding: 20px;
}

.testimonios section h1{
    color: #242E53;
    font-family:Be Vietnam;
    font-size:35px;
    font-weight:700px;
    line-height:61px;
    letter-spacing:-0.01em;
}

.img_lebron{
    position: relative;
    top: 45px;
    width: 70px;
    height: 70px;
}

.rectangle{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    bottom: 30px;
    padding: 20px 0px 0px 0px;
}

.testimonios section h4{
    position: relative;
    top: 30px;
    color:#3F4868;

}

.testimonios section p{
    color: #B9B9C1;
    padding: 20px 25px;
    text-align: center;
}

.testimonios section button{
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background-color: #8B48BF;
    color: white;
    padding: 10px;
    gap: 10px;
}

.button_more{
    position: relative;
    top: 30px;
}

.best_teams{
    background-color: #3CDDF3;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 60px;
    padding:40px 50px 65px 50px;
}

.best_teams h1{
    font-family: Be Vietnam;
    font-size: 38px;
    font-weight: 700px;
    line-height: 48px;
    letter-spacing: -0.005em;
    text-align: center;
    color:#FFFFFF;

}

.button_go{
    position: relative;
    top: 30px;
}

.best_teams button{
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background-color:#232C50;
    color: white;
    box-shadow: 0px 4px 8px 0px #00000040;
}

.container_footer{
    background-color:#1E1E26;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones_footer{
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-around;
    gap: 7px;
}

.boton__f1{
    width: 240px;
    height: 36px;
    border-radius: 50px;
    background-color:#FFFFFF;
    color:#A0A0A0;
    text-align: left;
    padding: 0 10px;
}

.boton__f2{
    width: 50px;
    height: 34px;
    border-radius: 50px;
    color:#FFFFFF;
    background-color: #8B48BF;


}



@media (min-width: 700px) {

    header{
        height: 174px;
        display: flex;
    }
    
    header .container{
        margin: auto;
        padding: 0 10px;
        width: 1440px;
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        gap:15px;
    }
    
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav ul{
        display: flex;
        gap:28px;
    }
    
    .container button{
        width: 134px;
        height: 44px;
        border-radius: 50px;
        background-color: #8B48BF;
        color: white;
        box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    }
    
    .container__padel{
        padding: 100px 0;
        width: 100vw;
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    
    .text h1{
        color: #232C50;
        text-align: right;
        font-family: Be Vietnam;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 114.6%; /* 57.3px */
        letter-spacing: -1.75px;
    }
    
    .text button{
        width: 134px;
        height: 44px;
        border-radius: 50px;
        background-color: #8B48BF;
        color: white;
    }

}